In [4]:
# Examples
var1 = 'str_var1'
var2 = 3
var3 = 15.5
print ('Print single variable ( var1 ): ', var1 )
print ( f'Print more than one variables : var1 ={var1} , var2 ={var2} , var3 ={var3}')

Print single variable ( var1 ):  str_var1
Print more than one variables : var1 =str_var1 , var2 =3 , var3 =15.5

In [ ]:
import math
def calc_f1_score(tp, fp, fn):
  if (type(tp) == int()) and (type(fp) == int()) and (type(fn) == int()):
    pr = tp/(tp + fp)
    re = tp/(tp + fn)
    f1 = 2*pr*re/(pr + re)
  else:
    print('tp, fp, fn must be int')
    exit
  return f1

print(round (calc_f1_score(tp = 2, fp = 3 , fn = 5), 2))
print(round(calc_f1_score(tp = 2, fp = 4, fn = 5),2))

0.33
0.31

In [81]:
import math
import re
def is_number(n):
  try :
    float (n) # Type - casting the string to ‘float ‘.
  # If string is not a valid ‘float ‘ ,
  # it ’ll raise ‘ValueError ‘ exception
  except ValueError :
    return False
  return True
#def is_number(n):
 # if type(n)==int:
 #   return True
 # else:
  #  return bool(re.match(r'^\d+$', n))

# End your code
print(is_number (3))
print(is_number ('-2a'))
print (is_number (1) )
print (is_number ('n') )

True
False
True
False

In [ ]:
def is_number (n):
  try :
    float (n ) # Type - casting the string to ‘float ‘.
  # If string is not a valid ‘float ‘ ,
  # it ’ll raise ‘ValueError ‘ exception
  except ValueError :
    return False
  return True

In [72]:
import math
def calc_sig(x):
#Your code here
  y = 1/(1+math.exp(-x))
  return y
#End your code

print(round(calc_sig(3),2))
print (round(calc_sig(2),2) )

0.95
0.88

In [57]:
import math
def calc_elu(x):
# Your code here
  if x > 0:
    y = x
  else:
    y= 0.01*(math.exp(x)-1)
  # End your code
  return y
print(round(calc_elu (1)))
print(round(calc_elu (-1) ,2) )

1
-0.01

In [69]:
import math
def calc_relu(x):
# Your code here
  if x <=0:
    y = 0.0
  else :
    y = x
  return y
print(calc_relu(1))

1

In [76]:
import math
def calc_activation_func(x, act_name):
# Your code here
  a =0
  if act_name=='relu':
   a = calc_relu(x)
  if act_name=='sigmoid':
   a = calc_sig(x)
  if act_name=='elu':
   a = calc_elu(x)
  return a
# End your code
assert calc_activation_func(x = 1, act_name ='relu') == 1
print(round(calc_activation_func(x =3, act_name ='sigmoid'),2) )

0.95

In [78]:
def calc_ae(y, y_hat ) :
# Your code here
  err= abs(y - y_hat)
  return err
# End your code

y = 1
y_hat = 6
assert calc_ae(y, y_hat) ==5
y = 2
y_hat = 9
print(calc_ae(y, y_hat))

7

In [80]:
def calc_se(y, y_hat ):
# Your code here
  err=(y-y_hat)**2
  return err
# End your code
y= 4
y_hat = 2
print(calc_se(y, y_hat))
print(calc_se(2, 1) )

4
1

In [119]:
def gtx (n):
# Tinh giai thua
  if n < 0:
    print("Input number than 0!")
  else:
    GT= 1
    for i in range(1, n+1):
        GT*= i
  return GT
print(gtx(3))

6

In [ ]:
def approx_cos(x ,n ):
# Your code here
  cos1 = sum(((-1)**k)*(x**(2*k)/gtx(2*k)) for k in range(0, n))
  return cos1
# End your code

print(round(approx_cos(x = 3.14, n = 10), 2) )

-1.0

In [144]:
def approx_sin (x , n ) :
# Your code here
  sin1 = sum(((-1)**k)*(x**(2*k+1)/gtx(2*k+1)) for k in range(0, n))
  return sin1
# End your code

print(round(approx_sin(x =3.14, n =10), 4))

0.0016

In [145]:
def approx_sinh (x , n ) :
# Your code here
  sinh1 = sum(x**(2*k+1)/gtx(2*k+1) for k in range(0, n))
  return sinh1
# End your code

print(round(approx_sinh(x = 3.14, n = 10), 2))

11.53

In [146]:
def approx_cosh (x, n ) :
#Your code here
  cosh1 = sum(x**(2*k)/gtx(2*k) for k in range(0, n))
  return cosh1
# End your code
#assert round(approx_cosh(x =1, n =10), 2) == 1.54
print(round(approx_cosh(x =3.14, n =10), 2))

11.57

In [152]:
def md_nre_single_sample3(y , y_hat, n):
  y_root = y ** (1/ n )
  y_hat_root = y_hat ** (1/ n)
  difference = y_root - y_hat_root
  loss = difference
  return loss
print(md_nre_single_sample3(y=100, y_hat =99.5 , n =2))

0.025031328369998107